<h1><span class="badge text-bg-primary">New job:</span></h1>
 
  <%= form_with model: @job, class: "form" do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :active %>
      <%= f.check_box :active, class: "form-check-input" %>
    </div>
    <div class="form-group">
      <%= f.label :salary_range %>
      <%= f.text_field :salary_range, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :company_id %>
      <%= f.collection_select :company_id, Company.all, :id, :name, {prompt: "Select a company"}, {class: "form-control"} %>
    </div>
    <%= f.submit "Create Job", class: "btn btn-primary" %>
  <% end %>
