<h1>Companies</h1>

<ul>
  <% @companys.each do |company| %>
    <li>
      <%= company.name %>
    </li>
    <li>
      <%= company.description %>
    </li>
    <li>
    <img src="<%= company.logo%>"/>
    </li>
    <li>
      <% company.jobs.each do |job|%>
        <p> <%=job.company_id%> </p>
        <p> <%=job.title%> </p>
        <p> <%=job.description%> </p>
        <p> <%=job.url%> </p>
        <p> <%=job.location%> </p>
      <%end%>
    </li>
  <% end %>
</ul>
