<h1>Index</h1>

<ul>
  <% @companys.each do |company| %>
    <li>
      <%= company.name %>
    </li>
    <li>
    <%= company.logo %>
    </li>
    <li>
      <%= company.description %>
    </li>
    <li>
    <img src="<%= company.logo%>"/>
    </li>
    <li>
    <%= company.jobs %>
    </li>
  <% company.jobs.each do |job|%>
    <p> <%= job.title %></p>
    <p> <%= job.description %></p>
    <p> <%= job.url %></p>
    <p> <%= job.location %></p>
    <p> <%= job.active %></p> 
    <p> <%= job.salary_range %></p>
    <%end%>

  <% end %>
</ul>
