

<div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary">

<h1>
  <span class="badge text-bg-primary"><%= @company.name %> Jobs</span>
</h1>
<style>
table, th, td {
  border:1px solid black;
}
</style>


  <% @company.jobs.each do |job|%>
  <tr>
  <table style="width:100%">

  
  <div class="card-header"><th><span class="badge text-bg-primary">Position:</th>
    </div>

    <th><span class="badge text-bg-primary">Description:</th>
    <th><span class="badge text-bg-primary">Location:</th>
    <th><span class="badge text-bg-primary">Active:</th>
    <th><span class="badge text-bg-primary">Salary:</th></div>
  </tr>
  <tr>
    <td><%= job.title %></td>
    <td><%= job.description %></td>
    <td><%= job.location %></td>
    <th><mark><%= job.active %></mark></th>
    <th><%= job.salary_range %></th>
  </tr>
  



  

  


<%end%>
</div>